<!DOCTYPE html>
<html>
<head>
    <title>Scoreboard</title>
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div id="app" v-if="showApp" class="container">
        <div class="row align-items-center justify-content-center">
            <h1>Scoreboard</h1>
        </div>
        <div v-if="showHelp" class="alert alert-info" role="alert">
            <strong>Hello!</strong> This web app takes instructions and run the Scoreboard Algorithm on then. <br>
            To run this app, make sure that: <br>
            <ul class="list-group">
                <li class="list-group-item list-group-item-warning">The registrator must be F# <strong>DON'T</strong> use any another registrator (like R1,R3,C2 ...) </li>
                <li class="list-group-item list-group-item-warning">Make sure you're using only even numbers. This app <strong>DON'T</strong> run with odd numbers (like F1,F3)</li>
                <li class="list-group-item list-group-item-warning">Currently, this website is making requests to an API hosted at: {{apiLink}}. To change, go to app.js and change the 'apiLink' variable</li>
              </ul>
        </div>
        <div v-if="showError" class="alert alert-danger" role="alert">
            <strong>Oh! this is embarrassing. </strong> We could not run the algoritm :( <br>
            Make sure you are following the instructions described in 'help me' section. <br>
        </div>
        <button type="button" @click="getHelp" class="btn btn-info">{{helpButton}}</button>
        <hr>
        <div>
            <p>Number of instructions:</p> <input v-model="numberOfInstructions" type="text" class="form-control col-md-3" placeholder="Number of instructions">
            <!-- <button @click="updateNumInstructions"> Update number of instructions </button> -->
            <div class="instruction-group">
                <instruction class="instruction" v-for="n in parseInt(numberOfInstructions)" :key="n">  </instruction>
            </div>
            <hr>
            <h3>Latencies:</h3>
            <div class="from-inline col-md-12 latency">
                <div class="row">
                    <div class="col-md-2">
                        <label for="latADD">ADD.D Latency:</label><input v-model="latADDD" id="latADDD" type="text" class="form-control" placeholder="ADD.D Latency">
                    </div>
                    <div class="col-md-2">
                        <label for="latSUB">SUB.D Latency:</label><input v-model="latSUBD" id="latSUBD" type="text" class="form-control" placeholder="SUB.D Latency">
                    </div>
                    <div class="col-md-2">
                        <label for="latMULT">MULT.D Latency:</label><input v-model="latMULTD" id="latMULTD" type="text" class="form-control" placeholder="MULT.D Latency">
                    </div>
                    <div class="col-md-2">
                        <label for="latDIV">DIV.D Latency:</label><input v-model="latDIVD" id="latDIVD" type="text" class="form-control" placeholder="DIV.D Latency">
                    </div>
                    <div class="col-md-2">
                        <label for="latLD">L.D Latency:</label><input v-model="latLD" id="latLD" type="text" class="form-control" placeholder="L.D Latency">
                    </div>
                    <div class="col-md-2">
                        <label for="latSD">S.D Latency:</label><input v-model="latSD" id="latSD" type="text" class="form-control" placeholder="S.D Latency">
                    </div>
                </div>
                <div class="row" style="margin-top:15px">
                    <div class="col-md-3">
                        <label for="latADD">ADD Latency:</label><input v-model="latADD" id="latADD" type="text" class="form-control" placeholder="ADD Latency">
                    </div>
                    <div class="col-md-3">
                        <label for="latDADDUI">DADDUI Latency:</label><input v-model="latDADDUI" id="latDADDUI" type="text" class="form-control" placeholder="DADDUI Latency">
                    </div>
                    <div class="col-md-3">
                        <label for="latBEQ">BEQ Latency:</label><input v-model="latBEQ" id="latBEQ" type="text" class="form-control" placeholder="BEQ Latency">
                    </div>
                    <div class="col-md-3">
                        <label for="latBNEZ">BNEZ Latency:</label><input v-model="latBNEZ" id="latBNEZ" type="text" class="form-control" placeholder="BNEZ Latency">
                    </div>
                </div>
            </div>
            <button class="btn btn-primary" @click="sendInfo">Get result</button>
        </div>
        <div v-for="j in 5">
        </div>
    </div>

    <div id="table" v-if="showTable" class="container">
        <h1> Result: </h1>
        <hr>
        <button @click="nextStep" class="btn btn-primary">Next step</button>
        <button @click="stepBack" class="btn btn-primary">Step back</button>
        <button @click="finalTable" class="btn btn-primary">Final table</button>
        <br><br>
        <h3> Main table: </h3>
        <table class="table col-md-6">
                <thead>
                    <tr>
                        <th scope="col">Instructions</th>
                        <th scope="col">Issue</th>
                        <th scope="col">Read operand</th>
                        <th scope="col">Execution complete</th>
                        <th scope="col">Write result</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="table in mainTable[tableIndex]">
                        <td>{{table.instruction}}</td>
                        <td>{{table.issue}}</td>
                        <td>{{table.read_operand}}</td>
                        <td>{{table.execution_complete}}</td>
                        <td>{{table.write_result}}</td>
                    </tr>
                </tbody>
        </table>
        <br>
        <h3>Functional unit</h3>
        <table class="table col-md-12">
                <thead>
                    <tr>
                        <th scope="col">Unit</th>
                        <th scope="col">Busy</th>
                        <th scope="col">Op</th>
                        <th scope="col">Fi</th>
                        <th scope="col">Fj</th>
                        <th scope="col">Fk</th>
                        <th scope="col">Qj</th>
                        <th scope="col">Qk</th>
                        <th scope="col">Rj</th>
                        <th scope="col">Rk</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="table in unitTable[tableIndex]">
                        <td>{{table.unit}}</td>
                        <td>{{table.busy}}</td>
                        <td>{{table.op}}</td>
                        <td>{{table.Fi}}</td>
                        <td>{{table.Fj}}</td>
                        <td>{{table.Fk}}</td>
                        <td>{{table.Qj}}</td>
                        <td>{{table.Qk}}</td>
                        <td>{{table.Rj}}</td>
                        <td>{{table.Rk}}</td>
                    </tr>
                </tbody>
                
        </table>
        <br>
        <h3>Register result</h3>
        <table class="table col-md-12">
                <thead>
                    <tr>
                            <th scope="col">Clock</th>
                        <th scope="col" v-for="table in registerTable[tableIndex]">{{table.registerName}}</th>
                    </tr>
                </thead>
                <tbody>
                    <td>{{tableIndex}}</td>
                    <td v-for="table in registerTable[tableIndex]">{{table.unit}}</td>
                </tbody>
                
        </table>

        <button @click="nextStep" class="btn btn-primary">Next step</button>
        <button @click="stepBack" class="btn btn-primary">Step back</button>
        <button @click="finalTable" class="btn btn-primary">Final table</button>
        <br><br>
        <button @click="backToIndex" class="btn btn-primary">Try again with new instructions</button>
        
        <!-- {{mainTable[tableIndex][0].instruction}} -->
        
    </div>

    <script src="app.js"></script>
</body>
</html>
