<!DOCTYPE html>
<html>
<head>
    <title>Scoreboard</title>
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <div id="app" class="container">
        <div class="row align-items-center justify-content-center">
            <h1>Scoreboard</h1>
        </div>
        <div class="col-md-12">
            <p>Number of instructions:</p> <input v-model="numberOfInstructions" type="text" class="form-control col-md-3" placeholder="Number of instructions">
            <!-- <button @click="updateNumInstructions"> Update number of instructions </button> -->
            <ul class="list-group">
                <instruction v-for="n in parseInt(numberOfInstructions)" :key="n">  </instruction>
            </ul>
            <p> Enter the number of execution cycles taken by the functional units: </p>
            <div class="from-inline">
                <label for="integerCycles">Integer:</label><input v-model="integerCycles" id="integerCycles" type="text" class="form-control col-md-3" placeholder="Integer">
                <p>FP Add:</p><input v-model="FPAddCycles" type="text" class="form-control col-md-3" placeholder="FP Add">
                <p>FP Multiply:</p><input v-model="FPMultiplyCycles" type="text" class="form-control col-md-3" placeholder="FP Multiply">
                <p>FP Divide:</p><input v-model="FPDivideCycles" type="text" class="form-control col-md-3" placeholder="FP Divide">
            </div>
            <button @click="sendInfo">Result</button>
        </div>
    </div>

    <!-- <input type="text" class="form-control" v-model="input-field1">
            <input type="text" class="form-control" v-model="input-field2">
            <input type="text" class="form-control" v-model="input-field3"> -->

    <script>

        Vue.component('instruction', {
            data: function () {
                return {
                    instructions: ['ADD.D','SUBD','MULTD','DIV.D','L.D','ADD','DADDUI', 'BEQ', 'BNEZ'],
                    rs: '',
                    rt: '',
                    rd: '',
                    instructionSelected: ''
                }
            },
            template: '<div class="row"><select v-model="instructionSelected" class="form-control col"><option v-for="i in instructions" :value="i">{{i}}</option>\
            </select>\
            <input v-model="rs" type="text" class="form-control col" placeholder="RD">\
            <input v-model="rt" type="text" class="form-control col" placeholder="RS">\
            <input v-model="rd" type="text" class="form-control col" placeholder="RT">\
            </div>'
        })
        

        var app = new Vue({
            el: '#app',
            data: {
                numberOfInstructions: 0,
                integerCycles: 0,
                FPAddCycles: 0,
                FPMultiplyCycles: 0,
                FPDivideCycles: 0,
                instructions: []
            },
            methods: {
                updateNumInstructions: function(){
                    console.log(this.numberOfInstructions);
                },
                sendInfo: function(){
                    this.instructions = [];
                    this.$children.forEach(element => {
                        var instruction = {
                            'instructionName': element.instructionSelected,
                            'rs': element.rs,
                            'rt': element.rt,
                            'rd': element.rd
                        };
                        this.instructions.push(instruction);
                    });;
                    var json = JSON.stringify(this.getJSON());
                    console.log(json);
                    var self = this;
                    axios({
                        method: 'post',
                        url: 'http://localhost:3000/sb',
                        data: json,
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    });
                },
                getJSON: function(){
                    return({
                        'numberOfInstructions': this.numberOfInstructions,
                        'integerCycles': this.integerCycles,
                        'FPAddCycles': this.FPAddCycles,
                        'FPMultiplyCycles': this.FPMultiplyCycles,
                        'FPDivideCycles': this.FPDivideCycles,
                        'instructions': this.instructions
                        
                    })
                }
            }
        })
    </script>
</body>
</html>
